<div id="poll">
  <%= render partial: '/companies/company_data' %>
  <div class="evaluation-content">
    <div class="evaluation-header">
      <div class="title">
        <h1>Evaluaci贸n <%= @poll.title %></h1>
        <div class="total">Puntaje total: <%= @total %></div>
      </div>
      <div class="filters">
        <div class="tag"><%= @poll.area.title %></div>
        <div class="tag"><%= @poll.provision.title %></div>
      </div>
      <div class="date">Fecha de evaluaci贸n: <%= @evaluation.submitted_date %></div>
      <div class="description"><%= @poll.description.html_safe %></div>
    </div>
    <div class="evaluation-sections">
    <% @sections.each do |section| %>
      <div class="section">
        <div class="section-header" style="background: <%= section[:color] %>">
          <div class="section-left">
            <h3>Secci贸n <%= section[:title] %></h3>
            <span><%= section[:description].html_safe %></span>
          </div>
          <div class="section-right">
            <%= format_semaphore(section[:semaphore][0]) %>
            <div class="semaphore-text">
              <div class="section-total">Resultado de la secci贸n: <%= section[:total] %></div>
              <span><%= section[:semaphore][1] %></span>
            </div>
          </div>
        </div>
        <div class="section-questions">
          <% section[:questions].each do |question| %>
            <% if question[:eqvalue].present? %>
              <div class="question section-header">
                <div class="question-left">
                  <h4><%= question[:id] %>. <%= question[:title] %></h4>
                  <span><%= question[:description].html_safe %></span>
                </div>
                <div class="question-middle">
                  <%= format_semaphore(question[:color], true) %>
                </div>
                <div class="question-right">
                  <div class="question-total">Valor obtenido: <%= question[:eqvalue] %></div>
                  <div class="question-text"><%= question[:semaphore_text] %></div>
                </div>
              </div>
            <% else %>
              <div class="question disabled">
                <div class="section-left">
                  <h4><%= question[:title] %></h4>
                  <span><%= question[:description].html_safe %></span>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
<div class="actions">
  <button class="main-button" onclick="printContent()">Imprimir</button>
</div>
<script>
  function printContent(){
    let originalContents = document.body.innerHTML
    let newContent = document.getElementById('poll')
    /*newContent.querySelectorAll('.no-print').forEach(element => {
      element.remove()
    });*/
    document.body.innerHTML = newContent.innerHTML
    window.print();
    document.body.innerHTML = originalContents;
  }
</script>
<% if @print %>
<script>
  printContent()
  window.location.replace('/dashboard')
</script>
<% end %>
