<div class="section-semaphore">
    <% poll_section = PollSection.includes(:semaphore).where(section_id: section_id, poll_id: poll_id).first %>
    <% if poll_section.present? %>
      <input name="poll[poll_sections_attributes][<%= isec %>][id]" type="hidden" value="<%= poll_section.id %>" />
      <input name="poll[poll_sections_attributes][<%= isec %>][_destroy]" type="hidden" value="0" />
      <input name="poll[poll_sections_attributes][<%= isec %>][semaphore_attributes][id]" type="hidden" value="<%= poll_section.semaphore_id %>" />
      <input name="poll[poll_sections_attributes][<%= isec %>][semaphore_attributes][_destroy]" type="hidden" value="0" />
    <%end%>
    <input name="poll[poll_sections_attributes][<%= isec %>][section_id]" type="hidden" value="<%= section_id %>" />
    <input name="poll[poll_sections_attributes][<%= isec %>][poll_id]" type="hidden" value="<%= poll_id %>" />
    <div class="formula">
      <label>Formula para el valor</label>
      <input name="poll[poll_sections_attributes][<%= isec %>][semaphore_attributes][formula]" type="text" value="<%= (poll_section.present? && poll_section.semaphore.formula.present?) ? poll_section.semaphore.formula : '' %>" />
    </div>
    <div class="semaphore-wrapper">
      <label>Semáforo verde</label>
      <input name="poll[poll_sections_attributes][<%= isec %>][semaphore_attributes][green_text]" type="textarea" value="<%= (poll_section.present? && poll_section.semaphore.green_text.present?) ? poll_section.semaphore.green_text.html_safe : '' %>" />
      <div class="operator">></div>
      <input name="poll[poll_sections_attributes][<%= isec %>][semaphore_attributes][green_value]" type="integer" value="<%= (poll_section.present? && poll_section.semaphore.green_value.present?) ? poll_section.semaphore.green_value : '' %>" />
      <label>Semáforo amarillo</label>
      <input name="poll[poll_sections_attributes][<%= isec %>][semaphore_attributes][yellow_text]" type="textarea" value="<%= (poll_section.present? && poll_section.semaphore.yellow_text.present?) ? poll_section.semaphore.yellow_text.html_safe : '' %>" />
      <div></div>
      <div></div>
      <label>Semáforo rojo</label>
      <input name="poll[poll_sections_attributes][<%= isec %>][semaphore_attributes][red_text]" type="textarea" value="<%= (poll_section.present? && poll_section.semaphore.red_text.present?) ? poll_section.semaphore.red_text.html_safe : '' %>" />
      <div class="operator"><</div>
      <input name="poll[poll_sections_attributes][<%= isec %>][semaphore_attributes][red_value]" type="integer" value="<%= (poll_section.present? && poll_section.semaphore.red_value.present?) ? poll_section.semaphore.red_value : '' %>" />
    </div>
  </div>