<div class="semaphore-wrapper">
  <label>Semáforo verde</label>
  <div class="label"><%= semaphore.green_text %></div>
  <div class="operator">></div>
  <div class="value"><%= semaphore.green_value %></div>
  <label>Semáforo amarillo</label>
  <div class="label"><%= semaphore.yellow_text %></div>
  <div class="label"><%= semaphore.red_text %></div>
  <div class="operator"><</div>
  <div class="label"><%= semaphore.red_value %></div>
</div>