<div id="content">
  <h2>Editar datos de Empresa</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "companies/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Aún no hemos identificado su correo, por favor sigue las instrucciones enviadas a: <%= resource.unconfirmed_email %></div>
    <% else %>
      <% if resource.logo.attached? %>
        <%= image_tag resource.logo %>
      <% end %>
      <div class="field">
        <%= f.label :logo %>
        <%= f.file_field :logo %>
      </div>
      <div class="field">
        <%= f.text_field :registration_number, required: true,  autocomplete: "registration_number", placeholder: "RUT" %>
      </div>
      <div class="field">
        <%= f.label "Razón social" %>
        <%= f.text_field :name, required: true, autocomplete: "name", placeholder: "Razón social" %>
      </div>
      <div class="field">
        <%= f.label "Nombre fantasía" %>
        <%= f.text_field :fake_name,required: true,  autocomplete: "fake_name", placeholder: "Nombre fantasía" %>
      </div>
      <div class="field">
        <%= f.label "Deparatamento" %>
        <%= f.select :state, Company.states.keys, required: true, include_blank: "Departamento" , autocomplete: "state", placeholder: "Departamento" %>
      </div>
      <div class="field">
        <%= f.label "Dirección" %>
        <%= f.text_field :address, required: true, autocomplete: "address", placeholder: "Dirección" %>
      </div>
      <div class="field">
        <%= f.label "Giro principal" %>
        <%= f.select :activity, Company.activities.keys, required: true, include_blank: "Giro principal", autocomplete: "activity" %>
      </div>
      <div class="field">
        <%= f.label "Tamaño" %>
        <%= f.select :size, Company.sizes.keys, required: true, include_blank: "Tamaño de la empresa", autocomplete: "size" %>
      </div>
      <div class="field">
        <%= f.label "Trabajadores hombres" %>
        <%= f.number_field :man_workers, min:0, required: true, autocomplete: "man_workers", placeholder: "Trabajadores hombres" %>
      </div>
      <div class="field">
        <%= f.label "Trabajadoras mujeres" %>
        <%= f.number_field :woman_workers, min: 0, required: true, autocomplete: "woman_workers", placeholder: "Trabajadoras Mujeres" %>
      </div>
      <div class="field">
        <%= f.label "Año de comienzo de actividad" %>
        <%= f.number_field :start_year, min: 1950, max: 2025, step: 1, required: true, autocomplete: "start_year", placeholder: "Año de comienzo de actividad" %>
      </div>
      <div class="field">
        <%= f.label "¿Cuál es el alcance de la operación de tu empresa?" %>
        <div class="options">
          <%= f.collection_checkboxes :destination_ids, Destination.order(:weight), :id, :name, :include_hidden => false,  required: true, :input_html => { :include_hidden => false } %>
        </div>
      </div>
      <div class="field">
        <%= f.label "En el caso de ser internacional, si tu empresa opera en otros países, especifique cuáles" %>
        <%= f.text_field :countries, autocomplete: "countries", placeholder: "Países internacionales" %>
      </div>
      <div class="field">
        <%= f.label "¿La empresa es propiedad total o parcial de mujeres?" %>
        <%= f.select :women_participation, Company.women_participations.keys, required: true %>
      </div>
      <div class="field">
        <%= f.label "¿Qué porcentaje de los puestos de liderazgo en la empresa están ocupados por mujeres?" %>
        <span class="disclaimer">Se consideran puestos de liderazgo la dirección de la empresa, la administración general, la gestión de áreas clave como compras, ventas, producción o logística, la supervisión de equipos de trabajo y la participación en la toma de decisiones estratégicas</span>
        <%= f.select :women_leadership, Company.women_leaderships.keys, required: true %>
      </div>
      <div class="field">
        <%= f.label "¿La empresa incluye entre sus trabajadores permanentes, a personas con discapacidad?" %>
        <span class="disclaimer">Se considera con discapacidad a toda persona que presente una alteración funcional permanente o prolongada, física o mental que en relación a su edad y medio social implique desventajas considerables para su integración familiar, social, educacional o laboral. Artículo 2 de la Ley 18.651</span>
        <%= f.select :disability, Company.disabilities.keys, required: true %>
      </div>
      <div class="field">
        <%= f.label "Fecha de inicio de actividad" %>
        <%= f.date_field :start_date, required: true %>
      </div>
      <div class="field">
        <%= f.label "¿Su empresa está registrada en la Dirección General Impositiva (DGI) y cuenta con RUT activo?" %>
        <%= f.select :registered, [['No','false'],['Si','true']], required: true %>
      </div>
      <div class="field">
        <%= f.label "¿Su empresa está registrada en el Banco de Previsión Social (BPS) y al día con los aportes correspondientes?" %>
        <%= f.select :worker_insurance, [['No','false'],['Si','true']], required: true %>
      </div>
      <div class="field">
        <%= f.label "¿Su empresa cuenta con la habilitación de la Intendencia correspondiente para operar en su local o establecimiento?" %>
        <%= f.select :abilitation, Company.abilitations.keys, required: true %>
      </div>
      <div class="field">
        <%= f.label "Si tiene empleados ¿Su empresa está registrada en el Ministerio de Trabajo y Seguridad Social (MTSS) y cumple con las normativas laborales vigentes?" %>
        <%= f.select :worker_registration, Company.worker_registrations.keys, required: true %>
      </div>
      <div class="field">
        <%= f.label "¿Su local cuenta con la habilitación de la Dirección Nacional de Bomberos cuando es requerida?" %>
        <%= f.select :building_abilitation, Company.building_abilitations.keys, required: true %>
      </div>
      <div class="field">
        <%= f.label "Nombre de la persona de contacto" %>
        <%= f.text_field :contact_name, required: true, autocomplete: "contact_name", placeholder: "Nombre de la persona de contacto" %>
      </div>
      <div class="field">
        <%= f.label "Cargo de la persona de contacto" %>
        <%= f.text_field :contact_position, required: true, autocomplete: "contact_position", placeholder: "Cargo de la persona de contacto" %>
      </div>
      <div class="field">
        <%= f.label "Teléfono de contacto" %>
        <%= f.text_field :contact_tel, required: true, autocomplete: "contact_tel", placeholder: "Teléfono de contacto" %>
      </div>
      <div class="field">
        <%= f.label "Email de contacto" %>
        <%= f.email_field :contact_email, required: true, autocomplete: "contact_email", placeholder: "Email de contacto" %>
      </div>
      <div class="field">
        <%= f.label :password %> <i>(Dejar vacío si no se quiere cambiar)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> caracteres mínimo</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(necesitamos tu contraseña actual para confirmar los cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>
      <% if resource.is_main_company %>

      <% else %>
        <h2>Empresas tractoras aprobadas</h2>
        <span class="disclaimer">Las empresas tractoras seleccionadas en esta sección podrán acceder a la información de los formularios completos de la empresa.</span>
        <%= f.collection_checkboxes :main_company_ids, Company.where(is_main_company: true), :id, :fake_name, :include_hidden => false, :input_html => { :include_hidden => false } %>
      <% end %>
    <% end %>
    <div class="actions">
      <%= f.submit "Actualizar", class:'main-button' %>
    </div>
  <% end %>

  <%= link_to "Volver", :back %>
</div>