<div class="header-inner">
  <%= link_to image_tag("/images/Group.svg"), root_path() %>
  <%= link_to '
    <div class="menu-bar first"></div>
    <div class="menu-bar middle"></div>
    <div class="menu-bar last"></div>'.html_safe, '#', id:"mobile-menu", onClick:'toggleMenu(event)' %>
  <nav>
    <ul>
      <li><%= link_to "Planes", planes_path() %></li>
      <li><%= link_to "Sobre el proyecto", sobre_el_proyecto_path() %></li>
      <% if company_signed_in? %>
        <li><%= link_to 'Tablero', dashboard_path, :class => 'navbar-link' %> </li>
        <li><%= button_to "Cerrar sesión", destroy_company_session_path, method: :delete, :class => 'navbar-link'  %></li>
      <% else %>
        <li><%= link_to "Acceso a clientes",  company_session_path() %>
      <% end %>
  </nav>
  <script>
    function toggleMenu(e){
      e.preventDefault()
      let nav = document.querySelector('nav')
      if ( nav.style.display == 'none' || nav.style.display == '' ) {
        nav.style.display = 'flex'
      }
      else {
        nav.style.display = 'none'
      } 
    }
  </script>
</div>